:root {
    --font: Inconsolata, monospace;
    --width: min(80ch, 100vw - 2rem);

    --background: oklch(100% 0 0);
    --shaded-background: oklch(96.96% 0 0);
    --text: oklch(26.97% 0 0);
    --border-color: oklch(75.7% 0 0);

    --white-1: oklch(100% 0 0);
    --white-2: oklch(92.34% 0 0);
    --white-3: oklch(96.96% 0 0);

    --black-1: oklch(20.44% 0 0);
    --black-2: oklch(26.97% 0 0);
    --black-3: oklch(32.11% 0 0);

    --grey-1: oklch(75.7% 0 0);
    --grey-2: oklch(50.13% 0 0);
    --grey-3: oklch(94.12% 0.005 302);
    --grey-4: oklch(92.16% 0 0);

    --purple-1: oklch(47.79% 0.224 302);
    --purple-2: oklch(33.97% 0.158 302);

    --meta: oklch(32.11% 0 0);
}

@media (prefers-color-scheme: light) {
    :root {
        --background: oklch(100% 0 0);
        --shaded-background: oklch(96.96% 0 0);
        --text: oklch(26.97% 0 0);
        --border-color: oklch(75.7% 0 0);

        --meta: oklch(32.11% 0 0);

        --grey-3: oklch(94.12% 0.005 302);
        --grey-4: oklch(92.16% 0 0);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: oklch(26.03% 0 0);
        --text: oklch(95.51% 0 0);
        --shaded-background: oklch(30.12% 0 0);
        --border-color: oklch(44.7% 0 0);
        --meta: oklch(91.58% 0 0);

        --grey-3: oklch(32.11% 0 0);
        --grey-4: oklch(23.99% 0 0);

        --purple-1: oklch(70.74% 0.165 302);
        --purple-2: oklch(62.21% 0.185 302);
    }
}