---
layout: "layouts/layout.html"
title: "Cocktails"
---

<h1>Cocktails</h1>

{% renderTemplate "webc" %}
<cocktail-filters></cocktail-filters>
{% endrenderTemplate %}

<ul class="recipe-list">
	{% for post in collections.cocktails %}
	  {% if post.data.title.length > 0 %}
	  	<li data-title="{{ post.data.title }}" data-tags="{{ post.data.tagList }}">
			<a href="{{ post.url }}">
				<span class="recipe-name">{{ post.data.title }}</span>
				<span class="recipe-date">{{ post.data.dateString }}</span>
			</a>
		</li>
	  {% endif %}
	{% endfor %}
</ul>