---
layout: "layouts/layout.html"
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tag/{{ tag | tagUrlSlug }}/
eleventyComputed:
  title: Recipes Tagged “{{ tag }}”
---

<h1 class="tag-page-header"><span>Recipes Tagged</span>{{ tag }}</h1>

{% set taglist = collections[ tag ] %}

<ul class="recipe-list">
	{% for post in taglist | reverse %}
		<li>
			<a href="{{ post.url }}">
				<span class="recipe-name">{{ post.data.title }}</span>
				<span class="recipe-date">{{ post.data.dateString }}</span>
			</a>
		</li>
	{% endfor %}
</ul>
